h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small
  box-sizing: border-box
  font: normal 1em/1.5 $main-font

.title-main
  font: 900 2.2em/1.5 $main-font

.title
  font: 400 1.4em/1.5 $main-font

.subtitle
  font: 400 1.2em/1.5 $main-font

p
  font: 400 1em/1.5 $second-font
