// MIXINS
$main-font: 'Roboto', Arial, Helvetica, sans-serif
=animate
  transition: all .3s linear
// GENERAL
body
  font: normal 16px/1 $main-font

a
  color: inherit
  text-decoration: none


header,
main,
footer,
section,
aside,
div,
a,
form,
input,
textarea,
button,
label,
fieldset,
legend,
table,
tr,
th,
td,
ul,
ol,
li
  box-sizing: border-box

img,
svg
  vertical-align: middle

// DEBUG:
#myModal
  position: fixed
  bottom: 0
  left: 0
  z-index: 999
  background: #bbb

// layout
@import layout
// components
@import component
// form
@import form
// list
@import list
// typography
@import typography
